  <form class="login-form" [formGroup]="profileForm" (ngSubmit)="submit()">

    <input class="login-form__username" type="text" formControlName="username" />
    <input class="login-form__password" type="password" formControlName="password" />

    <button type="submit" class="login-form__btn">
      login
    </button>
    <span class="login-form__signup-msg"><a href="/signup">create an account for free.</a> </span>
  </form>
  <!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form> -->
