/* You can add global styles to this file, and also import other style files */


body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
}

// colors

$primary-color : #840032;
$secondary-color : #E59500;
$tertiary-color : #342c2c;
// END colors

// animations
@keyframes appear-from-bottom {
  from {
    opacity: 0;
    font-size: .2em;
  }

  to {
    opacity: 1;
    transform: translateY(-200%);
    font-size: 1.4em;
  }
}

@-webkit-keyframes appear-from-bottom {
  from {
    opacity: 0;
    font-size: .2em;
  }

  to {
    opacity: 1;
    transform: translateY(-200%);
    font-size: 1.4em;
  }
}

@keyframes filter {
  from {
    filter: brightness(0%);
  }

  to {
    filter: brightness(30%);
  }
}

@-webkit-keyframes filter {
  from {
    filter: brightness(0%);
  }

  to {
    filter: brightness(30%);
  }
}

// END animations 

// media queries

@media screen and (max-width : 578px)and(min-width : 480px) {
  .home__title {
    font-size: 6.5em;
    line-height: 90px !important;
    margin-top: 25% !important;

  }

  .home__btns-container {
    margin: 15% !important;
  }
}

@media screen and (max-width : 479px)and(min-width : 360px) {
  .home__title {
    font-size: 5.5em;
    line-height: 80px !important;
    margin-top: 35% !important;

  }

  .home__btns-container {
    margin: 10% !important;
  }
}

@media screen and (max-width : 359px) {
  .home__title {
    font-size: 4.8em;
    line-height: 70px !important;
    margin-top: 40% !important;

  }

}

@media screen and (max-width : 870px)and(min-width : 579px) {
  .home__title {
    font-size: 8em;
    margin-top: 20% !important;

  }
}

@media screen and (min-width : 871px) {
  .home__title {
    font-size: 9em;
  }
}

// END media queries

// mixins

@mixin g-shadow {
  -webkit-box-shadow: -1px 4px 25px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 25px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 25px -6px rgba(0, 0, 0, 0.75);
}

// END mixins
