/* You can add global styles to this file, and also import other style files */


body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
  overflow-x: hidden;
}

// colors

$primary-color : #08a0ca;
$secondary-color : #FF4D4F;
$tertiary-color : #232c37;
// END colors

// animations
@keyframes appear-from-bottom {
  from {
    opacity: 0;
    font-size: .2em;
  }

  to {
    opacity: 1;
    transform: translateY(-200%);
    font-size: 1.4em;
  }
}

@-webkit-keyframes appear-from-bottom {
  from {
    opacity: 0;
    font-size: .2em;
  }

  to {
    opacity: 1;
    transform: translateY(-200%);
    font-size: 1.4em;
  }
}

@keyframes filter {
  from {
    filter: brightness(0%);
  }

  to {
    filter: brightness(30%);
  }
}

@-webkit-keyframes filter {
  from {
    filter: brightness(0%);
  }

  to {
    filter: brightness(30%);
  }
}

@keyframes rotate-enter {
  from {
    transform: rotate(-45deg);

  }

  to {
    transform: rotate(0deg);

  }
}

@-webkit-keyframes rotate-enter {
  from {
    transform: rotate(-90deg);

  }

  to {
    transform: rotate(0deg);

  }
}

@keyframes enter-from-left {
  from {
    transform: translateX(120%);
    opacity: 0;
  }

  to {
    transform: translateX(-15vw);
    opacity: 1;
  }
}

@-webkit-keyframes enter-from-left {
  from {
    transform: translateX(120%);
    opacity: 0;
  }

  to {
    transform: translateX(-15vw);
    opacity: 1;

  }
}



@keyframes enter-from-bottom {
  from {
    transform: translateY(220%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes enter-from-bottom {
  from {
    transform: translateX(220%);
    opacity: 0;

  }

  to {
    transform: translateX(0);
    opacity: 1;

  }
}

@keyframes appear-from-left {
  from {
    transform: translateX(200%);
    opacity: 0;

  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes appear-from-left {
  from {
    transform: translateX(200%);
    opacity: 0;

  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes appear-from-right {
  from {
    transform: translateX(-200%);
    opacity: 0;

  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes appear-from-right {
  from {
    transform: translateX(-200%);
    opacity: 0;

  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoom-out {
  from {
    transform: scale(0);
    opacity: 0;

  }

  to {
    transform: scale(1);
    opacity: 1;

  }
}

@-webkit-keyframes zoom-out {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;

  }
}

// END animations 

// media queries


// END media queries

// mixins

@mixin g-shadow {
  -webkit-box-shadow: -1px 4px 25px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 25px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 25px -6px rgba(0, 0, 0, 0.75);
}

// END mixins
