@import "../../../styles.scss";

#home {
  min-height: 100vh;
  background-image: url('~src/assets/home-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home__title {
  line-height: 120px;
  color: #ffffff;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  margin-top: 12%;
  text-transform: uppercase;

  span {
    color: $primary-color;
  }

  span:nth-child(1) {
    color: $secondary-color;
  }
}


.home__btn {
  width: 120px;
  height: 100px;
  margin: 20px;
  color: #ffffff;
  font-size: 3.5em;
  @include g-shadow;
}

.home__btn--second {
  @extend .home__btn;
  background-color: #363246;
  border: $secondary-color;

  &:hover {
    background-color: #4d4763;
  }
}
