@import "../../../styles.scss";

#recipes-p {
  min-height: calc(100vh - 64px);
  padding-top: 100px;
  padding-left: 14px;
  padding-right: 14px;
}

.recipes-p__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
