<!-- Card -->
<nz-badge [nzCount]="pickedIngredients.length">
  <nz-card (click)="open()" nzHoverable class="ing-card" [nzCover]="coverTemplate">
    <nz-card-meta nzDescription="{{ description }}" nzTitle="{{ title }}"></nz-card-meta>
  </nz-card>
</nz-badge>
<ng-template #coverTemplate>
  <img class="ing-card__img" alt="example"
    src="https://recipe-finder-server.herokuapp.com/images/ingredients/{{ img }}.jpg" />
</ng-template>

<!-- Drawer -->
<nz-drawer style="padding-bottom: 0;" [nzClosable]="false" [nzVisible]="isVisible" nzPlacement="top"
  nzTitle="{{ title }}" (nzOnClose)="close()">
  <div class="ing-card__search-wrapper">
    <nz-input-group class="ing-card__search" [nzSuffix]="suffixIconSearch">
      <input type="text" [ngModel]="inputSearch" (ngModelChange)="onChangeSearch($event)" nz-input
        placeholder="Saisir le nom de l'ingredient..." />
    </nz-input-group>
  </div>

  <ng-template #suffixIconSearch>
    <div *ngIf="inputSearch.length === 0">
      <i nz-icon nzType="search"></i>
    </div>
    <div *ngIf="inputSearch.length > 0">
      <i class="ing-card__close-icon" (click)="clearInputSearch()" nz-icon nzType="close"></i>
    </div>
  </ng-template>
  <div style="width: 100%;height: 100%;">
    <div class="ing-card__loader" *ngIf="loading">
      <nz-spin>
      </nz-spin>
    </div>
    <div class="ing-card__item-wrapper">
      <div *ngFor="let ing of items">
        <nz-tag class="ing-card__tag" nzMode="checkable" [nzChecked]="isChecked(ing.name)" nzColor="default"
          (nzCheckedChange)="pickIngredient(ing.name)">
          {{ ing.name }}
        </nz-tag>
      </div>
    </div>
  </div>
</nz-drawer>
