<nz-badge [nzCount]="pickedIngredients.length">
  <nz-card (click)="open()" nzHoverable class="ing-card" [nzCover]="coverTemplate">
    <nz-card-meta nzDescription="{{description}}" nzTitle="{{title}}"></nz-card-meta>
  </nz-card>
</nz-badge>
<ng-template #coverTemplate>
  <img class="ing-card__img" alt="example" src="{{img}}" />
</ng-template>

<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="bottom" nzTitle="{{title}}" (nzOnClose)="close()">
  <div class="ing-card__item-wrapper ">
    <div *ngFor="let ing of ingredients">
      <nz-tag class="ing-card__tag" nzMode="checkable" [nzChecked]="false" nzColor="default"
        (nzCheckedChange)="checkChange($event, ing.name)">
        {{ing.name}}</nz-tag>
    </div>
  </div>
</nz-drawer>
