<section id="add-recipe">
  <div nz-row nzJustify="flex-start" [nzGutter]="[16, 16]">
    <div nz-col class="add-recipe__item" [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
      <app-recipe-card name="Blinis faciles maison"
        image="https://fthmb.tqn.com/R0Q0uTAqmUO5zaBZ76ws7Sb3jnc=/5184x3456/filters:fill(auto,1)/Homemade-Crepes-586548b13df78ce2c3bdfd56.JPG"
        category="Entrée" [ingredients]="ings" time="1 heure"
        description="We learned about property binding in the previous article, and the same applies with our own custom components when we want to create and bind to a property. The difference in creating our own properties to bind to (as opposed to a built-in property) is we have to tell Angular the name of the property binding, essentially exposing it for us to bind to. ">
      </app-recipe-card>
    </div>
    <div nz-col class="add-recipe__item" [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
      <app-recipe-card name="Blinis faciles maison"
        image="https://fthmb.tqn.com/R0Q0uTAqmUO5zaBZ76ws7Sb3jnc=/5184x3456/filters:fill(auto,1)/Homemade-Crepes-586548b13df78ce2c3bdfd56.JPG"
        category="Entrée" [ingredients]="ings" time="1 heure"
        description="We learned about property binding in the previous article, and the same applies with our own custom components when we want to create and bind to a property. The difference in creating our own properties to bind to (as opposed to a built-in property) is we have to tell Angular the name of the property binding, essentially exposing it for us to bind to. ">
      </app-recipe-card>
    </div>
    <div nz-col class="add-recipe__item" [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
      <app-recipe-card name="Blinis faciles maison"
        image="https://fthmb.tqn.com/R0Q0uTAqmUO5zaBZ76ws7Sb3jnc=/5184x3456/filters:fill(auto,1)/Homemade-Crepes-586548b13df78ce2c3bdfd56.JPG"
        category="Entrée" [ingredients]="ings" time="1 heure"
        description="We learned about property binding in the previous article, and the same applies with our own custom components when we want to create and bind to a property. The difference in creating our own properties to bind to (as opposed to a built-in property) is we have to tell Angular the name of the property binding, essentially exposing it for us to bind to. ">
      </app-recipe-card>
    </div>
    <div nz-col class="add-recipe__item" [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
      <app-recipe-card name="Blinis faciles maison"
        image="https://fthmb.tqn.com/R0Q0uTAqmUO5zaBZ76ws7Sb3jnc=/5184x3456/filters:fill(auto,1)/Homemade-Crepes-586548b13df78ce2c3bdfd56.JPG"
        category="Entrée" [ingredients]="ings" time="1 heure"
        description="We learned about property binding in the previous article, and the same applies with our own custom components when we want to create and bind to a property. The difference in creating our own properties to bind to (as opposed to a built-in property) is we have to tell Angular the name of the property binding, essentially exposing it for us to bind to. ">
      </app-recipe-card>
    </div>
  </div>
</section>
