#login {
  min-height: 100vh;
  background-image: url('~src/assets/login-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-login-form {
  min-width: 300px;
  max-width: 350px;
  width: 100%;
  z-index: 2;
  margin: 5px;
}

.login__filter {
  position: absolute;
  top: 64px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color: #111, $alpha: 0.4);
  z-index: 1;
}
