<section id="ingredients-p">
  <div nz-row nzJustify="flex-start" [nzGutter]="[16, 16]">
    <div nz-col class="ingredients-p__item" [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card (getIngredientByCategory)="getIngredientByCategory($event)"
        (selectedItems)="selectedItems($event)" description="Légumes feuilles, légumes tiges, légumes fleurs..."
        img="vegetables" title="Légumes" [items]="items['Légumes']">
      </app-ingredient-card>
    </div>
    <div nz-col class="ingredients-p__item" [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card (getIngredientByCategory)="getIngredientByCategory($event)"
        (selectedItems)="selectedItems($event)" description="Fruits à noyau, fruits à pépin, agrumes..." img="fruits"
        title="Fruits" [items]="items['Fruits']">
      </app-ingredient-card>
    </div>
    <div nz-col class="ingredients-p__item" [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card (getIngredientByCategory)="getIngredientByCategory($event)"
        (selectedItems)="selectedItems($event)" description="Poissons blancs, poissons bleus..." img="fishs"
        title="Poissons" [items]="items['Poissons']">
      </app-ingredient-card>
    </div>
    <div nz-col class="ingredients-p__item" [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card (getIngredientByCategory)="getIngredientByCategory($event)"
        (selectedItems)="selectedItems($event)" description="Viandes blanches, viandes rouges..." img="meat"
        title="Viandes" [items]="items['Viandes']">
      </app-ingredient-card>
    </div>
    <div nz-col class="ingredients-p__item" [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card (getIngredientByCategory)="getIngredientByCategory($event)"
        (selectedItems)="selectedItems($event)" description="Fromages, yaourts, lait, crème fraîche..." img="dairy"
        title="Produits laitiers" [items]="items['Produits laitiers']">
      </app-ingredient-card>
    </div>
    <div nz-col class="ingredients-p__item" [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card (getIngredientByCategory)="getIngredientByCategory($event)"
        (selectedItems)="selectedItems($event)" description="Moutarde, mayonnaise, vinaigre, harissa..." img="sauces"
        title="Vinaigres & sauces" [items]="items['Vinaigres & sauces']"></app-ingredient-card>
    </div>
    <div nz-col class="ingredients-p__item" [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card (getIngredientByCategory)="getIngredientByCategory($event)"
        (selectedItems)="selectedItems($event)" description="Lentilles, pois chiche, pomme de terre..." img="starchy"
        title="Féculents" [items]="items['Féculents']">
      </app-ingredient-card>
    </div>
    <div nz-col class="ingredients-p__item" [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card (getIngredientByCategory)="getIngredientByCategory($event)"
        (selectedItems)="selectedItems($event)" description="Piment, cumin, thym, menthe, canelle..." img="spices"
        title="Épices & aromatiques" [items]="items['Épices & aromatiques']">
      </app-ingredient-card>
    </div>
    <div nz-col class="ingredients-p__item" [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card (getIngredientByCategory)="getIngredientByCategory($event)"
        (selectedItems)="selectedItems($event)" description="Farine de blé, d'orge, smoule, couscous..." img="flours"
        title="Farines & semoule" [items]="items['Farines & semoule']">
      </app-ingredient-card>
    </div>
    <div nz-col class="ingredients-p__item" [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card (getIngredientByCategory)="getIngredientByCategory($event)"
        (selectedItems)="selectedItems($event)" description="Huile de tournesol, huile d'olives, beurre demi-sel..."
        img="fat" title="Matières grasses" [items]="items['Matières grasses']">
      </app-ingredient-card>
    </div>
    <div nz-col class="ingredients-p__item" [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card (getIngredientByCategory)="getIngredientByCategory($event)"
        (selectedItems)="selectedItems($event)" description="Oeuf de poule, de canard, de caille, d'autruche..."
        img="eggs" title="Oeufs" [items]="items['Oeufs']">
      </app-ingredient-card>
    </div>
    <div nz-col class="ingredients-p__item" [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card (getIngredientByCategory)="getIngredientByCategory($event)"
        (selectedItems)="selectedItems($event)" description="Arômes, levures, chocolat, sirops, miel..." img="pastry"
        title="Pâtisserie" [items]="items['Pâtisserie']">
      </app-ingredient-card>
    </div>
  </div>
  <button [disabled]="optionsDisabled" class="ingredients-p__search-btn" nz-button nzType="primary">
    <div nzTooltipTitle="Rechercher" nzTooltipPlacement="left" nz-button nz-tooltip>
      <i nz-icon nzType="search"></i>
    </div>
  </button>
  <app-add-recipe-form [userIngredients]="userIngredients" [disabled]="optionsDisabled"></app-add-recipe-form>
</section>
