/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap");
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
}

@keyframes appear-from-bottom {
  from {
    opacity: 0;
    font-size: .2em;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    font-size: 1.4em;
  }
}

@-webkit-keyframes appear-from-bottom {
  from {
    opacity: 0;
    font-size: .2em;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    font-size: 1.4em;
  }
}

@keyframes filter {
  from {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  to {
    -webkit-filter: brightness(30%);
            filter: brightness(30%);
  }
}

@-webkit-keyframes filter {
  from {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  to {
    -webkit-filter: brightness(30%);
            filter: brightness(30%);
  }
}

@media screen and (max-width: 578px) and (min-width: 480px) {
  .home__title {
    font-size: 6.5em;
    line-height: 90px !important;
    margin-top: 25% !important;
  }
  .home__btns-container {
    margin: 15% !important;
  }
}

@media screen and (max-width: 479px) and (min-width: 360px) {
  .home__title {
    font-size: 5.5em;
    line-height: 80px !important;
    margin-top: 35% !important;
  }
  .home__btns-container {
    margin: 10% !important;
  }
}

@media screen and (max-width: 359px) {
  .home__title {
    font-size: 4.8em;
    line-height: 70px !important;
    margin-top: 40% !important;
  }
}

@media screen and (max-width: 870px) and (min-width: 579px) {
  .home__title {
    font-size: 8em;
    margin-top: 20% !important;
  }
}

@media screen and (min-width: 871px) {
  .home__title {
    font-size: 9em;
  }
}

.signup-form__steps-content {
  margin-top: 16px;
  border-radius: 6px;
  min-height: 110px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-form__steps-action {
  margin-top: 24px;
}

.signup-form__btn {
  margin-right: 8px;
}

.sign__pwd-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup__form-item {
  width: 240px;
  margin: 10px 20px;
}
/*# sourceMappingURL=signup-form.component.css.map */