@import "../../../styles.scss";

.signup-form__steps-content {
  margin-top: 16px;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form__steps-action {
  margin-top: 24px;
}

.signup-form__btn {
  margin-right: 8px;
}

.signup-form {
  min-width: 300px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 3px;
  @include g-shadow;
}

.sign__pwd-container {
  display: flex;
  flex-direction: column;
}

.signup__form-item {
  width: 250px;
  margin: 10px;
}
