<section id="search-recipe">
  <div nz-row nzJustify="flex-start" [nzGutter]="[16, 16]">
    <div nz-col class="search-recipe__item" [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card description="Légumes feuilles, légumes tiges, légumes fleurs..."
        img="../../../assets/vegetables.webp" title="Légumes"></app-ingredient-card>
    </div>
    <div nz-col class="search-recipe__item" [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card description="Fruits à noyau, fruits à pépin, agrumes..." img="../../../assets/fruits.webp"
        title="Fruits">
      </app-ingredient-card>
    </div>
    <div nz-col class="search-recipe__item" [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card description="Poissons blancs, poissons bleus..." img="../../../assets/fishs.webp"
        title="Poissons"></app-ingredient-card>
    </div>
    <div nz-col class="search-recipe__item" [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card description="Viandes blanches, viandes rouges..." img="../../../assets/meat.webp"
        title="Viandes"></app-ingredient-card>
    </div>
    <div nz-col class="search-recipe__item" [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card description="Fromages, yaourts, lait..." img="../../../assets/dairy.webp"
        title="Produits laitiers"></app-ingredient-card>
    </div>
    <div nz-col class="search-recipe__item" [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card description="Moutarde, mayonnaise, blance..." img="../../../assets/sauces.webp"
        title="Sauces"></app-ingredient-card>
    </div>
    <div nz-col class="search-recipe__item" [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <app-ingredient-card description="Piment, cumin, sel, poivre..." img="../../../assets/spices.webp" title="Épices">
      </app-ingredient-card>
    </div>
  </div>
</section>
