<section id="search-recipe">
  <div class="search-recipe__back-btn" nzTooltipTitle="Tous les ingrédients" nzTooltipPlacement="right" nz-button
    nz-tooltip>
    <app-back-button path="/ingredients"></app-back-button>
  </div>
  <div class="search-recipe__counter" nzTooltipTitle="Mes ingrédients" nzTooltipPlacement="left" nz-button nz-tooltip>
    <button (click)="open()" nz-button nzType="primary" nzShape="circle">{{userIngredients.length}}</button>
  </div>
  <nz-drawer style="padding-bottom: 0;" [nzClosable]="false" [nzVisible]="isVisible" nzPlacement="right"
    nzTitle="Ingrédients sélectionnés" (nzOnClose)="close()">
    <div class="search-recipe__ingredients">
      <div *ngFor="let ing of userIngredients">
        <nz-tag nzMode="closeable" (nzOnClose)="onCloseTag($event, ing.name)" class="search-recipe__tag"
          [nzChecked]="true" nzColor="default">
          {{ ing.name }}
        </nz-tag>
      </div>
    </div>
  </nz-drawer>
  <app-virtual-scroll-component [data]="recipesFound">
  </app-virtual-scroll-component>
</section>
