#search-recipe {
  min-height: 100vh;
  padding-top: 128px;
  padding-left: 24px;
  padding-right: 24px;
}

.search-recipe__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
