#page-not-found {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9FCFF;
  flex-direction: column;

  .page-not-found__container {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  img {
    width: 100%;
    height: auto;
  }

  p {
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
    color: #111111;
  }
}
