.login-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  min-height: 350px;
  min-width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c3d3d;
  position: relative;

  input.ng-valid {
    border-bottom: 3px solid #8ac926;
  }


  .login-form__username,
  .login-form__password {
    margin: 1em;
    font-size: 1em;
    padding: .8em;
    border: 1px solid transparent;
    background-color: #d5c0c0;
    color: #4c3d3d;
    width: 260px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;

    &:focus {
      outline: none;
      border: 1px solid #ffffff;
    }
  }

  .login-form__btn {
    background-color: #826a6a;
    margin: 2em;
    font-size: .75em;
    padding: 1.3em;
    color: #e6d9d9;
    border: 0;
    cursor: pointer;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 2px;

    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #e6d9d9;


    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #d5c0c0;
      color: #4c3d3d;
    }
  }

  .login-form__signup-msg {
    position: absolute;
    bottom: 20px;

    a {
      color: #d5c0c0;
      font-family: 'Montserrat', sans-serif;
      font-size: .7em;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }

  }
}
 .login-form__error{
    color: pink
  }