<nz-table #virtualTable [nzVirtualMinBufferPx]="350" [nzVirtualMaxBufferPx]="400" [nzVirtualItemSize]="249"
  [nzData]="listOfData" [nzVirtualForTrackBy]="trackByIndex" [nzFrontPagination]="false" [nzShowPagination]="false"
  [nzScroll]="{ x: '100vw', y: '90vh' }">
  <tbody>
    <ng-template nz-virtual-scroll let-data let-index="_id">
      <tr>
        <td>
          <app-recipe-card [_id]="data._id" [name]="data.name" [image]="data.image" [category]="data.category"
            [ingredients]="data.ingredients" [persons]="data.persons" [time]="data.time"
            [description]="data.description" [default]="data.default">
          </app-recipe-card>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>

<!-- <div *ngFor="let recipe of data">

  <app-recipe-card [_id]="recipe._id" [name]="recipe.name" [image]="recipe.image" [category]="recipe.category"
    [ingredients]="recipe.ingredients" [persons]="recipe.persons" [time]="recipe.time"
    [description]="recipe.description" [default]="recipe.default">
  </app-recipe-card>
</div> -->
