#signup {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('~src/assets/login-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
