@import "~src/styles";

.toolbar {
  background-color: $primary-color;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  visibility: visible;
}

.toolbar__logo {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  a {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 64px;

    img {
      height: 50px;
      width: 50px;
    }
  }
}

.toolbar__btn {
  position: absolute;
  right: 10px;
  color: #FFF;
  bottom: 18px;

  i {
    font-size: 1.3em;
  }
}
