<nav nz-row class="toolbar" *ngIf="displayToolBar">
  <div nz-col nzSpan="10"></div>
  <div nz-col nzSpan="4">
    <div class="toolbar__logo" nzTooltipTitle="" nzTooltipPlacement="bottom" nz-button nz-tooltip>
      <a (click)="goHome()"><img src="../../../assets/logo-app.svg" alt="" /></a>
    </div>
  </div>
  <div nz-col nzSpan="10">
    <button *ngIf="showMenu" class="toolbar__btn" nz-button nzType="primary">
      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <nz-avatar [nzText]="usernameFirstLetter" class="toolbar__avatar"></nz-avatar>
      </a>
    </button>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="goToRecipes()"><i nz-icon nzType="star" nzTheme="outline"></i>Recettes</li>
        <li nz-menu-item (click)="goToIngredients()"><i nz-icon nzType="search" nzTheme="outline"></i>Rechercher/Ajouter
        </li>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="logout()"><i nz-icon nzType="logout" nzTheme="outline"></i>Déconnexion</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</nav>
