<div nz-row class="recipe-card">
  <div nz-col class="recipe-card__left-side" [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="12" [nzXs]="24">
    <div>
      <div class="recipe-card__img" (click)="open()">
        <i nz-icon *ngIf="!default" nzType="star" class="recipe-card__own-recipe" nzTheme="outline"></i>
        <div class="recipe-card__infos-mobile">
          <div>
            <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
            {{time.value}} {{time.unity}}
          </div>
          <div>
            <i nz-icon nzType="user" nzTheme="outline"></i>
            {{persons}}
          </div>
        </div>
        <img alt="" src="{{image}}" />
      </div>
      <h3 class="recipe-card__name" (click)="open()">{{getName()}}</h3>
      <div class="recipe-card__footer">
        <div class="recipe-card__category">{{category}}</div>
        <div nzTooltipTitle="Éditer" nzTooltipPlacement="top" nz-button nz-tooltip>
          <i *ngIf="!default" class="recipe-card__edit-btn" (click)="editRecipe()" nz-icon nzType="edit"
            nzTheme="outline"></i>
        </div>
        <div nzTooltipTitle="Supprimer" nzTooltipPlacement="top" nz-button nz-tooltip>
          <a nz-popconfirm (nzOnConfirm)="deleteRecipe()" nzPopconfirmTitle="Êtes-vous sûr?" [nzIcon]="iconTpl"><i
              *ngIf="!default" class="recipe-card__edit-btn" nz-icon nzType="delete" nzTheme="outline"></i></a>
          <ng-template #iconTpl>
            <i nz-icon nzType="question-circle-o" style="color: #FF4D4F;"></i>
          </ng-template>
        </div>
      </div>
    </div>

  </div>
  <div nz-col class="recipe-card__right-side" [nzXXl]="16" [nzXl]="16" [nzLg]="16" [nzMd]="10" [nzSm]="10">
    <div class="recipe-card__infos-desktop">
      <div nzTooltipTitle="Temps" nzTooltipPlacement="top" nz-button nz-tooltip>
        <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
        {{time.value}} {{time.unity}}
      </div>
      <div nzTooltipTitle="Nombre de personnes" nzTooltipPlacement="top" nz-button nz-tooltip>
        <i nz-icon nzType="user" nzTheme="outline"></i>
        {{persons}}
      </div>
      <div *ngIf="!default" nzTooltipTitle="Ma recette" nzTooltipPlacement="top" nz-button nz-tooltip>
        <i nz-icon nzType="star" nzTheme="outline"></i>
      </div>
    </div>
    <p>{{getDescription()}}</p>
    <button nz-button nzType="default" (click)="open()">
      <span>en savoir plus...</span>
    </button>
  </div>
</div>


<!-- Drawer -->
<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="{{name}}" (nzOnClose)="close()">
  <div>
    <div>
      <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
      {{time.value}} {{time.unity}}
    </div>
    <div>
      <i nz-icon nzType="user" nzTheme="outline"></i>
      {{persons}}
    </div>
  </div>
  <div class="recipe-card__ingredients">
    <h3>Ingredients</h3>
    <div *ngFor="let ing of ingredients">
      <li>{{ing.name}}, {{ing.quantity.value}} {{ing.quantity.unity}}</li>
    </div>
  </div>

  <div class="recipe-card__description">
    <h3>Préparation</h3>
    <div>{{description}}</div>
  </div>
</nz-drawer>
<div *ngIf="showRecipeSetter">
  <app-set-recipe [isVisible]="showRecipeSetter" (setVisibility)="setVisibility($event)" [name]="name" [image]="image"
    [category]="category" [_id]="_id" [ingredients]="ingredients" [persons]="persons" [time]="time"
    [description]="description">
  </app-set-recipe>
</div>
