@import "../../../styles.scss";

.recipe-card {
  width: 290px;
}

.recipe-card__img {
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all .45s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.recipe-card__name {
  margin-top: 5px;
  font-weight: 400;
  margin-bottom: 0;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}

.recipe-card__category {
  color: #afafaf;
  font-size: .9em;
}

.recipe-card__search {
  max-width: 250px;
  margin-bottom: 12px;

  input {
    font-size: .87em;

  }
}

.recipe-card__ingredients {
  margin-top: 24px;

  h3 {
    color: $primary-color;
    text-transform: uppercase;

  }

  div {
    text-transform: capitalize;
  }
}

.recipe-card__description {
  margin-top: 24px;

  h3 {
    color: $primary-color;
    text-transform: uppercase;

  }

  text-align: left;
}

.recipe-card__infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: $secondary-color;
  background-color: rgba($color: #000000, $alpha: 0.6);

  div {
    margin: 5px auto;
  }
}
